{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}
    {% spaceless %}

        {#
         # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
         # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
         # to avoid generating extra markup.
         #}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}

        {{ form_errors(form) }}

        {# Don't forget to add the collection attributes in your markup #}

            <table {{ block('widget_attributes') }}>
                <thead>
                <th><label class="control-label">Tipo</label></th>
                <th><label class="control-label">Costo</label></th>
                <th><label class="control-label">Moneda</label></th>
                <th><label class="control-label">Financiamiento</label></th>
                <th>&nbsp;</th>
                </thead>
                <tbody>
                    {#
                     # we can't form_widget(form) as it would render parent markup for a collection, so
                     # we iterate manually on children
                     #}
                    {% for item in form %}
                        {{ form_widget(item) }}
                    {% endfor %}
                </tbody>
            </table>

    {% endspaceless %}
{% endblock %}

{% block economic_type_widget %}
    {# widget_attributes will generate class="item" from the DiscountCollectionType.entry_options configuration #}
    <tr {{ block('widget_attributes') }}>
        <td>{{ form_widget(form.type) }}</td>
        <td>{{ form_widget(form.amount) }}</td>
        <td>{{ form_widget(form.currency) }}</td>
        <td>{{ form_widget(form.source) }}</td>
        <td class="text-center">
            <a href="#" class="collection-remove btn btn-circle btn-icon-only default" title="Eliminar Elemento"><span class="fa fa-trash"></span></a>
            <a href="#" class="collection-duplicate btn btn-circle btn-icon-only default" title="Duplicar Elemento"><span class="fa fa-th-large"></span></a>
            <a id="collection-add" href="#" class="collection-add btn btn-circle btn-icon-only default" title="Agregar Elemento"><span class="fa fa-plus"></span></a>
        </td>
    </tr>

{% endblock %}

{% block economic_type_label %}{% endblock %}