{% trans_default_domain 'FOSUserBundle' %}


<div class="portlet-title tabbable-line">
    <div class="caption caption-md">
        <span class="caption-subject font-blue-madison bold uppercase">Cambio de Contrase単a</span>
    </div>
</div>

<div class="portlet-body form">
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1_1">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                <div class="form-group">
                    <label class="control-label">Contrase単a Actual</label>
                    {{ form_widget(form.current_password) }}
                </div>
                <div class="form-group">
                    <label class="control-label">Nueva Contrase単a</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    <label class="control-label">Confirmar Contrase単a</label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>


            <div class="form-actions">
                <div class="row">
                    <div class="col-md-9">
                        <button type="submit" class="btn green button-submit">
                            Guardar
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
</div>