{% extends 'DRIForeingStudentBundle:Undergraduate:layout.undergraduate.html.twig' %}

{% block page_toolbar %}
    <div class="btn-group pull-right">
        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="{{ path('undergraduate_new') }}">
                    <i class="icon-user-follow"></i> Agregar Estudiante de Pregrado</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block page_dashboard %}
    <div class="row">
        <div class="col-md-12">
            <div class="profile-sidebar">
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        {% if undergraduate.picture | length() > 0 %}
                            {% set picture = asset(vich_uploader_asset(undergraduate, 'pictureFile')) %}
                        {% else %}
                            {% if undergraduate.gender == "F" %}
                                {% set picture = asset('assets/pages/media/profile/profile-female.png') %}
                            {% elseif undergraduate.gender == "M" %}
                                {% set picture = asset('assets/pages/media/profile/profile-male.png') %}
                            {% endif %}
                        {% endif %}
                        <img src="{{ picture }}" class="img-responsive" alt=""> </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{ undergraduate.fullName }} </div>
                        <div class="profile-usertitle-job"> {{ undergraduate.country.spName }}</div>
                        <div class="profile-usertitle-job">
                            {% if undergraduate.type == 'BEC' %}{{ 'Becario' }}
                            {% elseif undergraduate.type == 'AUT' %} {{ 'Autofinanciado' }}
                            {% else %}{{ 'Financiado por Convenio' }}{% endif %}</div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="{% if '/undergraduate/profile' in app.request.getPathInfo() %}active{% endif %}">
                                {% if '/undergraduate/profile' in app.request.getPathInfo() %}
                                    <a href="#">
                                        <i class="icon-user"></i> Perfil
                                    </a>
                                {% else %}
                                    <a href="{{ path('undergraduate_show', {'fullNameSlug': undergraduate.fullNameSlug}) }}">
                                        <i class="icon-user"></i> Perfil
                                    </a>
                                {% endif %}
                            </li>
                            <li class="{% if '/undergraduate/edit' in app.request.getPathInfo() %}active{% endif %}">
                                {% if '/undergraduate/edit' in app.request.getPathInfo() %}
                                    <a href="#">
                                        <i class="icon-settings"></i> Editar
                                    </a>
                                {% else %}
                                    <a href="{{ path('undergraduate_edit', {'fullNameSlug': undergraduate.fullNameSlug}) }}">
                                        <i class="icon-settings"></i> Editar
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-info"></i> Ayuda </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>

            <div class="profile-content">
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}