{% extends "DRIClientBundle::layout.client.html.twig" %}

{% block title %}{{ parent() }} | {{ client.fullName }} {% endblock %}

{% block page_level_style %}
    <link href="{{ asset('assets/pages/css/old/profile.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_level_plugins_js %}
    <script src="{{ asset('assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block page_level_scrpt %}
    <script src="{{ asset('assets/pages/scripts/client-show.js') }}" type="text/javascript"></script>
{% endblock %}


{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Perfil</span>
        <i class="fa fa-circle"></i>
        <span>{{ client.fullName }} </span>
    </li>
{% endblock %}

{% block page_toolbar %}
    <div class="btn-group pull-right">
        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Acciones
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li>
                <a href="{{ path('client_new') }}">
                    <i class="icon-user-follow"></i> Nuevo Cliente</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block page_title %}
    Perfil del Cliente
{% endblock %}

{% block page_dashboard %}
    <div class="row">
        <div class="col-md-12">
            <div class="profile-sidebar">
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        {% if client.clientPicture | length() > 0 %}
                            {% set picture = asset(vich_uploader_asset(client, 'clientPictureFile')) %}
                        {% else %}
                            {% if client.gender == "F" %}
                                {% set picture = asset('assets/pages/media/profile/profile-female.png') %}
                            {% elseif client.gender == "M" %}
                                {% set picture = asset('assets/pages/media/profile/profile-male.png') %}
                            {% endif %}
                        {% endif %}
                        <img src="{{ picture }}" class="img-responsive" alt=""> </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{ client.fullName }} </div>
                        <div class="profile-usertitle-job"> {% if client.clientType == 'DOC' %}{{ 'Docente' }}{% elseif client.clientType == 'EST' %} {{ 'Estudiante' }}{% else %}{{ 'No Docente' }}{% endif %}</div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-circle green btn-sm">Seguir</button>
                        <button type="button" class="btn btn-circle red btn-sm">Mensaje</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="icon-home"></i> Perfil </a>
                            </li>
                            <li >
                                <a href="{{ path('client_edit', {'fullNameSlug': client.fullNameSlug}) }}">
                                    <i class="icon-settings"></i> Configuración </a>
                            </li>
                            <li>
                                <a href="page_user_profile_1_help.html">
                                    <i class="icon-info"></i> Ayuda </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>

                <div class="portlet light ">
                    <!-- STAT -->
                    <div class="row list-separated profile-stat">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> 1 </div>
                            <div class="uppercase profile-stat-text"> Pasaportes </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> 1 </div>
                            <div class="uppercase profile-stat-text"> Salidas </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> {{ client.exitApplications | length }} </div>
                            <div class="uppercase profile-stat-text"> Trámites </div>
                        </div>
                    </div>
                    <!-- END STAT -->
                </div>
            </div>

            <div class="profile-content">
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Pasaportes del Cliente</span>
                                </div>
                                <div class="actions">
                                    <a href="{{ path('passport_new',{'client':client.id}) }}" class="btn btn-circle blue">
                                        <i class="fa fa-plus"></i> Agregar Pasaporte
                                    </a>

                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-scrollable table-scrollable-borderless">
                                    <table class="table table-hover table-light">
                                        <thead>
                                        <tr class="uppercase">
                                            <th> Número </th>
                                            <th> Tipo </th>
                                            <th> Creación </th>
                                            <th> Vencimiento </th>
                                            <th> Estado </th>
                                        </tr>
                                        </thead>
                                        <tbody><tr>
                                            {% for passport in client.passports %}
                                                <td><a href="{{ path('passport_show', {'id':passport.id}) }}" class="">{{ passport.number }}</a></td>
                                                <td> {{ passport.type }} </td>
                                                <td> {{ passport.issueDate | localizeddate('medium','none') }} </td>
                                                <td> {{ passport.expiryDate | localizeddate('medium','none') }} </td>
                                                <td>
                                                    <span class="label {{ passport.state == 'ACT' ? 'label-success' : passport.state == 'VEN' ? 'label-danger' : 'label-info' }}">
                                                        {{ passport.state == 'ACT' ? 'Activo' : passport.state == 'VEN' ? 'Vencido' : 'Baja' }}
                                                    </span>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
