{% extends 'DRIExitBundle::layout.exit.html.twig' %}

{% block title %}{{ parent() }} | Nueva salida el exterior{% endblock %}

{% block page_level_plugins_css %}
    <link href="{{ asset('assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_level_plugins_js %}
    <script src="{{ asset('assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery-validation/js/localization/messages_es.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/plugins/jquery-validation/additional-methods.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>
{% endblock %}

{% block page_level_scrpt %}
    <script src="{{ asset('assets/pages/scripts/init-form-plugins.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/pages/scripts/departure-form.js') }}" type="text/javascript"></script>
{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Nueva Salida </span>
    </li>
{% endblock %}

{% block page_title %}
{% endblock %}

{% block page_dashboard %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'attr': {'id':'submit_departure_form','class': 'form-horizontal form-row-seperated', 'role':'form'}}) }}
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-plane font-blue-dark"></i>
                        <span class="caption-subject font-blue-dark bold uppercase"> Agregar Nueva Salida al Exterior
                        </span>
                    </div>
                    <div class="actions btn-set">
                        <a class="btn btn-transparent grey-cascade btn-outline btn-circle btn-sm" href="{{ absolute_url(lastPage) }}">
                            <i class="fa fa-angle-left"></i> Volver
                        </a>
                        <a class="btn btn-transparent grey-cascade btn-outline btn-circle btn-sm" href="{{ path('departure_list') }}">
                            <span class="fa fa-list" aria-hidden="true"></span>
                            Ir al listado
                        </a>
                        <button class="btn btn-transparent grey-cascade btn-outline btn-circle btn-sm" type="reset">
                            <i class="fa fa-reply"></i> Reset
                        </button>
                        <button class="btn btn-success btn-circle" type="submit">
                            <i class="fa fa-check"></i> Guardar
                        </button>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Cliente</label>
                            <div class="col-md-10">
                                {% if client is null %}
                                    {{ form_widget(form.client) }}
                                {% else %}
                                    <select id="departure-client-selected" class="select2" disabled="disabled">
                                        <option value="{{ client.id }}">{{ client.fullName }}</option>
                                    </select>
                                {% endif %}
                                <div id="form_client_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Solicitud Asociada</label>
                            <div class="col-md-10">
                                {% if application is null %}
                                    {{ form_widget(form.application) }}
                                {% else %}
                                    <input type="text" class="form-control" value="{{ application.number }}" disabled>
                                {% endif %}
                                <div id="form_application_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Pasaporte</label>
                            <div class="col-md-10">
                                {{ form_widget(form.passport) }}
                                <div id="form_passport_error"> </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Fecha de Partida</label>
                            <div class="col-md-10">
                                {{ form_widget(form.departureDate) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Fecha de Entrega del Pasaporte</label>
                            <div class="col-md-10">
                                {{ form_widget(form.passportDelivery) }}
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn green button-submit">
                                    Guardar
                                    <i class="fa fa-check"></i>
                                </button>
                                <a class="btn btn-default" href="{{ path('departure_list') }}">
                                    Ir al listado
                                    <i class="fa fa-list"></i>
                                </a>
                                <a class="btn btn-default" href="{{ absolute_url(lastPage) }}">
                                    Cancelar
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}