{% extends 'DRIPassportBundle:Application:layout.application.html.twig' %}

{% block title %}{{ parent() }} | {{ application.applicationNumber }} {% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Vista </span>
        <i class="fa fa-circle"></i>
        <span>{{ application.applicationNumber }} </span>
    </li>
{% endblock %}

{% block page_title %}
    Solicitud de Pasaporte: {{ application.applicationNumber }}
{% endblock %}

{% block page_dashboard %}

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ application.id }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Applicationreason</strong></p>
        <p>
            {{ application.applicationReason }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Applicationdate</strong></p>
        <p>
            {% if application.applicationDate %}{{ application.applicationDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Passporttype</strong></p>
        <p>
            {{ application.passportType }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Applicationtype</strong></p>
        <p>
            {{ application.applicationType }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Applicantorgan</strong></p>
        <p>
            {{ application.applicantOrgan }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Travelreason</strong></p>
        <p>
            {{ application.travelReason }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>State</strong></p>
        <p>
            {{ application.state }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Senddate</strong></p>
        <p>
            {% if application.sendDate %}{{ application.sendDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Confirmdate</strong></p>
        <p>
            {% if application.confirmDate %}{{ application.confirmDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Rejectdate</strong></p>
        <p>
            {% if application.rejectDate %}{{ application.rejectDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Rejectreasons</strong></p>
        <p>
            {{ application.rejectReasons }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createdat</strong></p>
        <p>
            {% if application.createdAt %}{{ application.createdAt|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Updatedat</strong></p>
        <p>
            {% if application.updatedAt %}{{ application.updatedAt|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div></div>

<hr/>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('passport_application_index') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
            <a class="btn btn-primary" href="{{ path('passport_application_edit', { 'id':  application.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>

            Edit
        </a>
                <a class="btn btn-info" href="{{ path('passport_application_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
                <form action="{{ path('passport_application_delete', { 'id': application.id }) }}" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete</button>
        </form>
    </div>


{% endblock %}

