{% extends 'DriTramitesBundle:Pasaporte:layout.Passport.html.twig' %}

{% block title %}{{ parent() }} | Nuevo{% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Nuevo</span>
    </li>
{% endblock %}

{% block page_title %}
    {{ parent() }}
    <small>Nuevo</small>
{% endblock %}


{% block page_dashboard %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-ebonyclay">
            <div class="portlet-title">
                <div class="caption">
                    Nuevo Pasaporte
                    <i class="glyphicon glyphicon-file"></i>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form'}}) }}
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Titular:</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-user"></i>
                                    {{ form_widget(form.titular) }}
                                </div>
                                {{ form_errors(form.titular) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {#{{ form_label(form.noPas, 'Número', {
                                'label_attr': {'class': 'col-md-3'}
                            }) }}#}
                            <label class="col-md-3 control-label">Número:</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-slack"></i>
                                    {{ form_widget(form.noPas) }}
                                </div>
                                {{ form_errors(form.noPas) }}
                            </div>
                        </div>

                        {{ form_row(form.tipoPas) }}

                        <div class="form-group">
                            <label class="col-md-3 control-label">Emitido:</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    {{ form_widget(form.fechaExp) }}
                                </div>
                                {{ form_errors(form.fechaExp) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Vence:</label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    {{ form_widget(form.fechaVen) }}
                                </div>
                                {{ form_errors(form.fechaVen) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Imagen:</label>
                            <div class="col-md-9">
                                {{ form_widget(form.primeraPaginaFile) }}
                                {{ form_errors(form.primeraPaginaFile) }}
                            </div>
                        </div>

                        {{ form_row(form.estadoPas) }}
                        <div id="is-baja" style="display: none">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Fecha de baja:</label>
                                <div class="col-md-9">
                                    <div class="input-icon">
                                        <i class="fa fa-thumbs-o-down"></i>
                                        {{ form_widget(form.fechaBaja) }}
                                    </div>
                                    {{ form_errors(form.fechaBaja) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Causa de baja:</label>
                                <div class="col-md-9">
                                    <div class="input-icon">
                                        <i class="fa fa-thumbs-o-down"></i>
                                        {{ form_widget(form.causaBaja) }}
                                    </div>
                                    {{ form_errors(form.causaBaja) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">
                                    Crear
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                </button>
                                <a class="btn btn-default" href="{{ path('trm_pass_index') }}" type="button" >
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
