{% extends 'DRIPassportBundle::layout.passport.html.twig' %}

{% block page_level_plugins_css %}
    <link href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/datatables/datatables.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/featherlight/featherlight.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_level_plugins_js %}
    <script src="{{ asset('assets/global/plugins/datatables/datatables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
{% endblock %}

{% block page_dashboard %}
    <h1>Passport list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Issuedate</th>
                <th>Expirydate</th>
                <th>Type</th>
                <th>State</th>
                <th>Firstpage</th>
                <th>Dropreason</th>
                <th>Dropdate</th>
                <th>Exits</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passport in passports %}
            <tr>
                <td><a href="{{ path('passport_show', { 'id': passport.id }) }}">{{ passport.id }}</a></td>
                <td>{{ passport.number }}</td>
                <td>{% if passport.issueDate %}{{ passport.issueDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if passport.expiryDate %}{{ passport.expiryDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ passport.type }}</td>
                <td>{{ passport.state }}</td>
                <td>{{ passport.firstPage }}</td>
                <td>{{ passport.dropReason }}</td>
                <td>{% if passport.dropDate %}{{ passport.dropDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if passport.exits %}{{ passport.exits|join(', ') }}{% endif %}</td>
                <td>{% if passport.createdAt %}{{ passport.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if passport.updatedAt %}{{ passport.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('passport_show', { 'id': passport.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('passport_edit', { 'id': passport.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passport_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
