{% extends 'DRIExitBundle::layout.exit.html.twig' %}

{% block title %}{{ parent() }} | Listado {% endblock %}

{% block  page_breadcrumb %}
    {{ parent() }}
    <li>
        <span>Listado </span>
    </li>
{% endblock %}

{% block page_title %}
    {{ parent() }}
    <small>Listado </small>
{% endblock %}

{% block page_dashboard %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View exitApplication <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ exitApplication.id }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Institution</strong></p>
        <p>
            {{ exitApplication.institution }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Lapsed</strong></p>
        <p>
            {{ exitApplication.lapsed }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Exitdate</strong></p>
        <p>
            {% if exitApplication.exitDate %}{{ exitApplication.exitDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Arrivaldate</strong></p>
        <p>
            {% if exitApplication.arrivalDate %}{{ exitApplication.arrivalDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Concept</strong></p>
        <p>
            {{ exitApplication.concept }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Workplansynthesis</strong></p>
        <p>
            {{ exitApplication.workPlanSynthesis }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Directivesubstitute</strong></p>
        <p>
            {{ exitApplication.directiveSubstitute }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Goesubstitute</strong></p>
        <p>
            {{ exitApplication.goeSubstitute }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Monthlypay</strong></p>
        <p>
            {{ exitApplication.monthlyPay }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Totalpay</strong></p>
        <p>
            {{ exitApplication.totalPay }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Economic Information</strong></p>
        {% if exitApplication.economics %}
            <ul>
                {% for economic in exitApplication.economics %}
                    <li>{{ economic.type }} - {{ economic.amount }} - {{ economic.source }}</li>
                {% endfor %}
            </ul>
        {% endif %}


    </div>
    <div class="col-md-6">
        <p><strong>Pccapproval</strong></p>
        <p>
            {% if exitApplication.pccApproval %}Yes{% else %}No{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Pccapprovaldate</strong></p>
        <p>
            {% if exitApplication.pccApprovalDate %}{{ exitApplication.pccApprovalDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Dcapproval</strong></p>
        <p>
            {% if exitApplication.dcApproval %}Yes{% else %}No{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Dcapprovaldate</strong></p>
        <p>
            {% if exitApplication.dcApprovalDate %}{{ exitApplication.dcApprovalDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Agreement</strong></p>
        <p>
            {{ exitApplication.agreement }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Ivapproval</strong></p>
        <p>
            {% if exitApplication.ivApproval %}Yes{% else %}No{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Ivapprovaldate</strong></p>
        <p>
            {% if exitApplication.ivApprovalDate %}{{ exitApplication.ivApprovalDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Secretoffice</strong></p>
        <p>
            {% if exitApplication.secretOffice %}Yes{% else %}No{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Secretofficedate</strong></p>
        <p>
            {% if exitApplication.secretOfficeDate %}{{ exitApplication.secretOfficeDate|date('Y-m-d') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>State</strong></p>
        <p>
            {{ exitApplication.state }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Approvaldate</strong></p>
        <p>
            {% if exitApplication.approvalDate %}{{ exitApplication.approvalDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Approvalobservations</strong></p>
        <p>
            {{ exitApplication.approvalObservations }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Rejectdate</strong></p>
        <p>
            {% if exitApplication.rejectDate %}{{ exitApplication.rejectDate|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Rejectreason</strong></p>
        <p>
            {{ exitApplication.rejectReason }}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createdat</strong></p>
        <p>
            {% if exitApplication.createdAt %}{{ exitApplication.createdAt|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Updatedat</strong></p>
        <p>
            {% if exitApplication.updatedAt %}{{ exitApplication.updatedAt|date('Y-m-d H:i:s') }}{% endif %}        </p>

    </div></div>

<hr/>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('exit_application_index') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
            <a class="btn btn-primary" href="{{ path('exit_application_edit', { 'id':  exitApplication.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>

            Edit
        </a>
                <a class="btn btn-info" href="{{ path('exit_application_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
                <form action="{{ path('exit_application_delete', { 'id': exitApplication.id }) }}" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete</button>
        </form>
    </div>


{% endblock %}

